// Custom styles.
//设置背景图片
body {
  background:url(/images/back-tech.png);
  background-size:cover;
  background-attachment: fixed;
}
//设置内容背景为白色，默认是透明的
.content-wrap{
  background: white;
}

.img-left{
  display: block;
  margin-left: 0;
  padding: 0;
}